@inherits LayoutComponentBase
@inject IUserService UserService

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    <NavLayout/>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {

    public bool LoggedIn
    {
        get { return UserService.User != null; }
    }

}