@inherits LayoutComponentBase
@inject IUserService UserService

<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    @if (LoggedIn)
    {
        <NavLayout/>
    }
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {

    private bool LoggedIn => UserService.User != null;

}